*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* header-starts */
.header{
    display: flex;
    background-color: rgb(145, 85, 224);
}
.header img.logo-aac {
        width: 134px;
        margin-left: 81px;
        height: 93px;
    
}
.header img.logo-csc {
    width: 134px;
    margin-left: 121px;
    height: 93px;
}
.header .head-top-1 {
    
        margin-left: 77px;
        margin-top: 15px;
        margin-right: 8px;
}
.header h2{
    margin-left: 130px;
}
.header h1 {
    font-size: 26px;
    font-family: fangsong;
    margin-left: 70px;
}
.header h2 {
    margin-left: 47px;
}
/* header-ends */

/* navbar-starts */
.menu{
    margin-left: 10%;
}
.menu-item{
    margin-left: 15px;
    margin-right: 15px;
}
.head-nav{
height: 100px;
    
}
/* navbar-ends */

 /* carousel-starts  */

.caro-img{
    height: 450px;
}
 /* carousel-ends  */


/* about-us-starts */
.container-1{
    margin-top: 20px;
    padding: 17px;
    width: 90%;
    margin-left: 60px;
    border-radius: 20px;
    border: solid 2px; 
    border-color : rgb(145, 85, 224);
}
.container-1 p {
    margin-top: 18px;
    margin-left: 22px;
}
 .container-1 img.abt-img {
    width: 320px;
    margin-left: 40px;
}
/* about-us-ends */

/* vision-mission-starts */
.container-2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.container-2 .mis{
    width: 42%;
    border: solid 2px;
    border-color: rgb(145, 85, 224);
    border-radius: 20px;
    margin-left: 57px;
}

.container-2 img.mis-img{
    margin-left: 140px;
}
.container-2 p{
    padding: 10px;
}
/* vision-mission-ends */

.container-3{
    padding: 17px;
    background-color: rgb(42, 41, 41);
}
/* .container-3 .foot{
    border: solid 1px;
    border-color: azure;
} */
.container-3 h4,ul{
    color: white;
}

